* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: -0.5px;
}

img {
  width: 3.125rem;
  height: 3.125rem;
  margin: 0 0.9375rem;
}

.container {
  position: fixed;
  left: 50%;
  background-color: #ffffffde;
  transform: translateX(-50%);
  top: 3.125rem;
  display: flex;
  padding: 0.625rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.9375rem 0 rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.Facebook {
  border-radius: 50%;
}

.Facebook:hover {
  box-shadow: 0 0 0.9375rem 0.625rem rgba(24, 119, 242, 0.7);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.Instagram {
  border-radius: 25%;
}

.Instagram:hover {
  box-shadow: 0 0 0.9375rem 0.625rem rgba(225, 48, 108, 0.5);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.LinkedIn {
  border-radius: 50%;
}

.LinkedIn:hover {
  box-shadow: 0 0 0.9375rem 0.625rem rgba(10, 102, 194, 0.5);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.YouTube {
  border-radius: 50%;
  background-color: #ff0000;
}

.YouTube:hover {
  box-shadow: 0 0 0.9375rem 0.625rem rgba(255, 0, 0, 0.5);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.instagram-page {
  width: 100vw;
  height: 100vh;
  background-image: -webkit-linear-gradient(
    45deg,
    #fdf497 0%,
    #ff7e05 15%,
    #fd5949 50%,
    #d6249f 80%,
    #285aeb 100%
  );
}

.youtube-page,
.linkedin-page,
.facebook-page {
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
}

.instagram-page h1 {
  color: #fff;
}

.facebook-page h1 {
  color: #1877f2;
}

.linkedin-page h1 {
  color: #0a66c2;
}

.youtube-page h1 {
  color: #ff0000;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fbook-header {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.facebook-page input {
  font-size: 1rem;
  width: 23rem;
  height: 2rem;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  margin: 7px 0;
  padding: 1.4rem 1.375rem;
}

.submit {
  width: 23rem;
  height: 3.25rem;
  border-radius: 6px;
  margin: 7px 0;
  border-style: none;
  background-color: #1877f2;
  color: #fff;
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-weight: bold;
}

.forgot-password {
  color: #1877f2;
  font-size: 0.85rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}

.signup {
  cursor: pointer;
  background-color: #36a420;
  border: none;
  padding: 0 1rem;
  border-radius: 6px;
  font-size: 1.0625rem;
  line-height: 3rem;
  color: #fff;
  font-weight: bold;
  margin: 10px 0;
}

hr {
  width: 23rem;
  border-style: none;
  border-bottom: 1px solid #c0c0c0;
  margin: 1.25rem 1rem;
}

.fbook-login-container {
  border-radius: 6px;
  background-color: #fff;
  margin: 15px;
  padding: 10px 0;
  box-shadow: 0 0 0.5375rem 0 rgba(139, 139, 139, 0.5);
}

.submit:hover {
  background-color: #2a8af8;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.signup:hover {
  background-color: #278d12;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
