* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: -0.5px;
}

img {
  width: 3.125rem;
  height: 3.125rem;
  margin: 0 0.9375rem;
}

.container {
  position: fixed;
  left: 50%;
  background-color: #ffffffde;
  transform: translateX(-50%);
  top: 3.125rem;
  display: flex;
  padding: 0.625rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.9375rem 0 rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.Facebook {
  border-radius: 50%;
}

.Facebook:hover {
  box-shadow: 0 0 0.9375rem 0.625rem rgba(24, 119, 242, 0.7);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.Instagram {
  border-radius: 25%;
}

.Instagram:hover {
  box-shadow: 0 0 0.9375rem 0.625rem rgba(225, 48, 108, 0.5);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.LinkedIn {
  border-radius: 50%;
}

.LinkedIn:hover {
  box-shadow: 0 0 0.9375rem 0.625rem rgba(10, 102, 194, 0.5);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.YouTube {
  border-radius: 50%;
  background-color: #ff0000;
}

.YouTube:hover {
  box-shadow: 0 0 0.9375rem 0.625rem rgba(255, 0, 0, 0.5);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.instagram-page {
  width: 100vw;
  height: 100vh;
  background-image: -webkit-linear-gradient(
    45deg,
    #fdf497 0%,
    #ff7e05 15%,
    #fd5949 50%,
    #d6249f 80%,
    #285aeb 100%
  );
}

.youtube-page,
.linkedin-page,
.facebook-page {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.instagram-page h1 {
  color: #fff;
}

.facebook-page h1 {
  color: #1877f2;
}

.linkedin-page h1 {
  color: #0a66c2;
}

.youtube-page h1 {
  color: #ff0000;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}
